body {
    background: #ffffff;
    font-family: "Changa", "Helvetica", "Arial", sans-serif;
}

nav ul {
    background: rgba(0,0,0,.2);
}

main {
    display: flex;
    flex-direction: column;
}

.list {
    margin: 15px 50px;
}

.list-head {
    display: flex;
    justify-content: right;
    list-style: none;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.em-list {
    font-size: 1.1em;
    margin: -2px 50px;
}

a {
    color: #D36950;
    text-decoration: none;
}

a.pdf {
    color: #7272ff;
}

.row {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.level {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}